<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <div class="panel border bg-dark">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold">Пошук помешкання</h3>
          </div>
          <div class="panel-body p-3">
            <form (ngSubmit)="onSubmit()">
              <div class="form-group pt-3">
                <label for="name">Назва помешкання:</label>
                <div class="input-field">
                  <input id="name"
                    name="name"
                    [(ngModel)]="searchApartament.name"
                    type="text"
                    required />
                  </div>
                </div>

                <div class="form-group pt-3">
                  <label for="typeRoom">Тип помешкання:</label>
                  <select id="typeRoom"
                    name="typeRoom"
                    [(ngModel)]="searchApartament.typeRoom"
                    class="form-select bg-dark">
                    @for (type of apartmentTypes; track type) {
                      <option [value]="type">
                        {{ type }}
                      </option>
                    }
                  </select>
                </div>

                <div class="form-group pt-3">
                  <label for="priceRange">Ціновий діапазон:</label>
                  <ngx-slider [(value)]="searchApartament.minValue"
                    [(highValue)]="searchApartament.maxValue"
                  [options]="sliderOptions"></ngx-slider>
                </div>

                <div class="form-group pt-3">
                  <label for="city">Місто:</label>
                  <div class="input-field">
                    <input id="city"
                      name="city"
                      [(ngModel)]="searchApartament.city"
                      type="text"
                      required />
                    </div>
                  </div>

                  <button type="submit" class="btn btn-primary btn-block mt-4 w-100">
                    Пошук
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
