<div class="outer d-flex justify-content-center align-items-start pt-5">
  <div class="apartment-item">
    <h3 class="apartment-name text-center">{{ apartament.name }}</h3>

    <div class="apartment-images image-item mb-3">
      <carousel>
        @for (image of apartament.photos; track image) {
          <slide>
            <img [src]="image.imagePath" alt="Apartment Image" />
          </slide>
        }
      </carousel>
    </div>

    <p class="apartment-price">Ціна за добу: {{ apartament.price }} ₴</p>
    <p class="apartment-type">Тип помешкання: {{ apartament.typeRoom }}</p>
    <p class="card-text"><strong>Опис:</strong> {{ apartament.description }}</p>
    <p class="apartment-address">Місто: {{ apartament.address.city }}</p>
    <p class="apartment-address">
      Адреса: {{ apartament.address.street }}, {{ apartament.address.numberHouse }}
    </p>

    <div class="form-group">
      <label for="checkInDate">Дата в'їзду:</label>
      <input type="date" id="checkInDate" class="form-control" [(ngModel)]="order.CheckInDate" required />

      <label for="checkOutDate">Дата виїзду:</label>
      <input type="date" id="checkOutDate" class="form-control" [(ngModel)]="order.CheckOutDate" />
    </div>

    <button (click)="orderApartament()" class="btn btn-primary w-100 mt-3">
      Замовити помешкання
    </button>
  </div>
</div>
