<div class="outer">
  <div class="panel border bg-dark p-4">
    <div class="panel-heading">
      <h3 class="pt-3 font-weight-bold">Введіть данні</h3>
    </div>
    <form [formGroup]="apartmentForm" enctype="multipart/form-data">
      <div class="form-group pt-3">
        <label for="name">Назва помешкання:</label>
        <input [(ngModel)]="apartament.name" formControlName="name" type="text" id="name" required />
      </div>

      <div class="form-group pt-3">
        <label for="price">Ціна за добу (₴):</label>
        <input [(ngModel)]="apartament.price" formControlName="price" type="number" id="price" min="10" max="10000" required />
      </div>

      <div class="form-group pt-3">
        <label for="typeRoom">Тип помешкання:</label>
        <select [(ngModel)]="apartament.typeRoom" formControlName="typeRoom" id="typeRoom" class="form-select" required>
          <option *ngFor="let type of apartmentTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="form-group pt-3">
        <label for="images">Фото:</label><br />
        <label for="images" class="custom-file-label">Оберіть фото</label>
        <input (change)="onFilesSelected($event)"
               type="file"
               id="images"
               multiple
               class="custom-file-input"
               required />
        <span class="file-name">{{ selectedFileName || 'Файл не обрано' }}</span>
      </div>


      <div class="form-group pt-3">
        <label for="addressId">Адреса:</label>
        <select [(ngModel)]="apartament.addressId" formControlName="addressId" id="addressId" class="form-select" required>
          <option *ngFor="let address of addresses" [value]="address.id">
            {{ address.street }}, {{ address.city }}, буд. {{ address.numberHouse }}
          </option>
        </select>
      </div>

      <div class="form-group pt-3">
        <label for="description">Опис:</label>
        <textarea [(ngModel)]="apartament.description" formControlName="description" id="description" rows="3" class="form-control" required></textarea>
      </div>

      <button (click)="onSubmit()" type="submit" class="btn btn-primary btn-block mt-4 w-100">
        Додати кімнату
      </button>
    </form>
  </div>
</div>
