.outer {
  width: 100vw;
  height: 100vh;
  background-image: url('public/backgroundMAIN.jpg');
  background-repeat: repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  width: 400px;
  background: rgba(33, 37, 41, 0.93);
  padding: 30px;
  border-radius: 12px;
}

.panel-heading {
  text-align: center;
  margin-bottom: 10px;
  color: white;
}

.form-group {
  margin-bottom: 15px;
  color: white;
}

.form-control,
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  background: rgba(33, 37, 41, 0.93);
  color: white;
  border: 1px solid #ccc;
}

.form-select {
  color: white;
  background: rgba(33, 37, 41, 0.93);
}

.btn-primary {
  font-size: 15px;
  background-color: #333;
  border-color: #333;
  color: white;
}

  .btn-primary:hover {
    background-color: #222;
    border-color: #222;
  }


.custom-file-input {
  display: none;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 12px;
  background-color: #444;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: background-color 0.3s;
}

  .custom-file-label:hover {
    background-color: #333;
  }

.file-name {
  margin-left: 10px;
  color: #ccc;
}
